@* *@
@* *@
@* @model IEnumerable<Course.WebApi.Models.Employ> *@
@* *@
@* @{ *@
@*     ViewData["Title"] = "List"; *@
@* } *@
@* *@
@* <a href="#" class="btn btn-dark text-light mb-2">Create</a> *@
@* <table class="table"> *@
@*     <thead> *@
@*         <tr> *@
@*             <th> *@
@*                 date *@
@*             </th> *@
@*             <th> *@
@*                 temperatureC *@
@*             </th> *@
@*             <th> *@
@*                 temperatureF *@
@*             </th> *@
@*             <th> *@
@*                 summary *@
@*             </th> *@
@*             <th></th> *@
@*         </tr> *@
@*     </thead> *@
@*     <tbody> *@
@* *@
@*         @foreach (var item in Model) *@
@*         { *@
@*             <tr> *@
@*                 <td> *@
@*                     @item.Date *@
@*                 </td> *@
@*                 <td> *@
@*                     @item.TemperatureC *@
@*                 </td> *@
@*                 <td> *@
@*                     @item.TemperatureF *@
@*                 </td> *@
@*                 <td> *@
@*                     @item.Summary *@
@*                 </td> *@
@*                 <td> *@
@*                     <a asp-controller="WeatherForecastView" asp-action="Edit" asp-route-id="@item.Id">Edit</a> | *@
@*                     <a asp-controller="WeatherForecastView" asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
@*                 </td> *@
@*             </tr> *@
@*         } *@
@*     </tbody> *@
@* </table> *@