@* *@
@* @model Course.WebApi.Models.Employ *@
@* @{ *@
@*     ViewData["Title"] = "Edit"; *@
@* } *@
@* *@
@* *@
@* <form asp-controller="WeatherForecastView" asp-action="Edit" asp-route-id="@Model.Id"  method="post" class="form-group m-auto w-25"> *@
@* *@
@*     <label for="editSummary">Summary:</label> *@
@*     <input asp-for="Summary" name="Summary" type="text" id="editSummary" placeholder="summary" class="form-control" value="@Model.Summary" /> *@
@*     <label for="editTemperatureC">TemperatureC:</label> *@
@*     <input asp-for="TemperatureC" name="TemperatureC" type="text" id="editTemperatureC" placeholder="TemperatureC" class="form-control" value="@Model.TemperatureC" /> *@
@*     <label for="TemperatureF">Summary:</label> *@
@*     <input asp-for="TemperatureF" name="TemperatureF" type="text" id="TemperatureF" placeholder="TemperatureF" class="form-control" value="@Model.TemperatureF" /> *@
@*     <label for="editDate">Date:</label> *@
@*     <input asp-for="Date" name="Date" type="text" id="editDate" placeholder="Date" class="form-control mb-3" value="@Model.Date" /> *@
@* *@
@*     <input type="submit" class="btn btn-primary" value="Submit" /> *@
@* </form> *@